.cards{
	display: flex;
	flex-wrap: wrap;
}
.card-head{
	padding: 20px;
	display: flex;
	align-items: flex-center;
	justify-content: space-between;
}

.card-white{
	padding: 40px;
	margin: 20px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.card-big{

}

.card {
	padding: 20px;
	margin: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	flex-basis: 400;
	flex-grow: 1;
}
